@import "src/colors";

section {
  margin-right: 5rem;

  .thumbnail-image-container {
    width: 22%;
    margin-right: 4%;
    cursor: pointer;
    border-radius: 10px;

    &:last-child {
      margin-right: 0;
    }

    .thumbnail-image {
      border-radius: 10px;
    }
  }

  .selected {
    border: 2px solid $primary-color;

    .thumbnail-image {
      opacity: .4;
    }
  }
}
