@import "src/colors";

@mixin icon-button {
  border: none;

  :hover {
    color: $primary-color;
  }

  i {
    transition: all 0.5s;
  }
}

#gallery-container {
  margin-right: 5rem;

  .thumbnail-image-container {
    width: 22%;
    margin-right: 4%;
    cursor: pointer;
    border-radius: 11px;

    &:last-child {
      margin-right: 0;
    }

    .thumbnail-image {
      border-radius: 10px;
      transition: opacity 0.5s;

      &:hover {
        opacity: .5;
      }
    }
  }

  .selected {
    border: 2px solid $primary-color;

    .thumbnail-image {
      opacity: .4;
    }
  }


  #gallery {
    #main-image {
      cursor: pointer;
    }
  }

  #lightbox-container {
    background-color: rgba(0, 0, 0, .75);

    #lightbox {
      width: 30vw;

      #close-btn {
        @include icon-button;
      }

      #lightbox-image-container {
        height: 60vh;

        #previous-btn, #next-btn {
          @include icon-button;
          stroke: black;
          top: 48%;
          width: 55px;
          height: 55px;
          transition: all 0.5s;

          &:hover {
            stroke: $primary-color;
          }
        }


        #previous-btn {
          left: -4%;
        }

        #next-btn {
          right: -4%;
        }
      }
    }
  }
}
